pui
*_autoload*
_act*
*.swp
*.tmp
rg.fail
._pylon.dat
.gd*
conf/used
tmp
cscop*
runtime/*
run/*
avatar_origin/*
_notes
.rigger.dat
rigger.log
_prj/*tags
src/github.com
src/git.pandatv.com
pkg/*

.git
.idea
.project
.settings
.DS_Store
Thumbs.db
.deploy*/

*~
*.diff
*.patch
*.log
*.swp
*.tmp

bower_components/
node_modules/
node_modules
coverage/
runtime/
log/
tmp/
output/
output.tar.gz
.remote-sync.json
.sftp-config.json
.vscode
npm-debug.log
nohup.out

picasso.json
websrc/front/dist/
src/web_inf/front/dev/
websrc/admin/dist/
src/web_inf/admin/dev/
websrc/console/dist/
src/web_inf/console/dev/
